* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(230, 253, 230);
    font-family: "Montserrat", sans-serif;
}

.container {
    text-align: center;
    padding: 15px;
    color: #000000;
    background: #94ffa8;
    border-radius: 20px;
}

.trapezoid {
    width: 300px;
}